---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="gold" />
    <title>Ilandarideva</title>
    <style>
      body {
        margin: 0;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-image: url("/bg.jpg");
        background-size: cover;
        background-position: center;
      }

      .foreground-image {
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
      }

      .foreground-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        filter: drop-shadow(0 0 2rem black);
      }
    </style>
  </head>
  <body>
    <!-- <div class="background-blur"></div> -->
    <div class="foreground-image">
      <img src="/bg.jpg" alt="background" />
    </div>
  </body>
</html>
